* {
    margin: 0;
    /* outline: dashed 1px red; */
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", serif;
    color: rgb(179, 179, 179);

}

* {
    scrollbar-color: #b3b3b3 transparent;
    scrollbar-width: 12px 20px;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0)
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div {
    display: flex;
    gap: 8px;
    align-items: center;
}

header form {
    width: 100px;
}

div .whats-new {
    display: grid;
    align-content: center;
    justify-items: center;
    height: 32px;
    width: 32px;
}

.Block {
    padding: 8px;
}

.searchBlocks {
    margin-right: 200px;
}

.searchbox {
    width: auto;
}

.search {
    align-items: center;
    background-color: rgb(41, 41, 41);
    border-radius: 500px;
    width: 480px;
    height: 40px;
}

.search .search-icon {
    margin-left: 10px;
}

.search .browse-icon {
    margin-right: 10px;
}

.search input {
    background-color: transparent;
    border: none;
    color: #FFF;
    width: 100%;
    outline: none;

    margin-left: 8px;
    margin-right: 8px;
}

header .install-button {
    display: flex;
    align-items: center;
    border-radius: 9999px;
    padding: 4px 16px 4px 12px;
    width: 100%;
    height: 24px;
    gap: 10px;
}

header figure img {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    height: 48px;
    background-color: #1f1f1f;
}

nav {
    width: 20%;
}

main {
    gap: 8px;
    display: flex;
    margin-bottom: 10px;
}

.library-section {
    width: 100%;
    overflow-y: scroll;
}

main nav {
    border-radius: 8px;
}

main .SongList {
    margin: auto;
    display: flex;
    list-style: none;
    justify-content: center;
}

main .SongList ul {
    list-style: none;
    width: 100%;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(4, 1fr);

}

main .SongList ul li a {
    background: rgb(179, 179, 179, 0.1);
    padding: 0;
    border-radius: 4px;
    transition: background-color 0.3s;
}

main .SongList ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

main .SongList ul li a img {
    border-radius: 4px 0 0 4px;
}


main nav header {
    padding: 12px 16px 8px 16px;
    display: flex;
    justify-content: space-between;
}

main .button-library {
    background-color: transparent;
    border: 0;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 8px;
    font-size: large;
    font-weight: bold;
}

main .plus-library {
    display: flex;
    align-items: center;
    border-radius: 999px;
    padding: 8px;
    background-color: transparent;
    border: 0;
}

main .plus-library:hover {
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 0;
    cursor: pointer;
}

main .scroll .searchlibrary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

main .scroll .searchlibrary .recents-button a {
    display: flex;
    flex-direction: row;

    gap: 8px;
}

main ul li a {
    align-items: center;
    display: flex;
    gap: 10px;
    padding: 8px;
}

main ul li a:hover {
    background-color: #1f1f1f;
}

main ul li img {
    width: 48px;
    border-radius: 4px;
}

main ul li .likedSongs {
    display: flex;
    flex-direction: column;
}

main nav {
    background: #121212;
}

.mainSection {
    width: 80%;
    padding: 40px 30px;
    padding-top: 18px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, #121212 55%, #31285c 100%);
    border-radius: 8px;
    gap: 40px;

    overflow-y: scroll;

    height: 80vh;
}

.mainSection .buttons {
    margin-bottom: 24px;
    margin-top: 8px;
}



.mainSection .section .buttons a {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 4px 12px 4px 12px;
    border-radius: 999px;
}

.section {
    width: 100%;
}

.explor-gen {
    margin-bottom: 20px;
    width: 100%;
}

.explor-gen h2 {
    color: #fff;
}

.carousel {
    gap: 8px;
    display: flex;
}

.carouselBlock {
    width: 150px;
    height: 230px;
    padding: 12px;
}

.carouselBlock img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-mask-image: linear-gradient(to top, transparent 5%, black 25%);
}

.carouselBlock div {
    position: relative;
}

.carouselBlock p {
    position: absolute;
    z-index: 3;
    padding: 12px;
    color: #fff;
    bottom: 12px;
    font-weight: 700;
}

.carousel-img {
    border-radius: 12px;
}

.mix-menu {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.mix-menu h2 {
    color: #fff;
}

.mixes {
    display: flex;
    gap: 20px;
}

.playlist-mix {
    width: 160px;
    height: 160px;
    object-fit: cover;
}

.playlist-mix img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
}

.play-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.play-section button {
    background-color: transparent;
    border: none;
}

.play-section .pause-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 999px;
    background-color: #4d4d4d;
}

.bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.compass-bar {

    display: flex;
    border-radius: 90px;
    background: #4d4d4d;
    width: 444px;
    height: 4px;
}

@media (max-width: 1480px) and (min-height: 721px) {
    main .SongList ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .carouselBlock, .carouselBlock p {
        font-size: small;
    }

    footer {
        margin-top: 20px;
    }
}

@media (max-width: 1280px) and (max-height: 720px) {
    main .SongList ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .carouselBlock, .carouselBlock p {
        font-size: small;
    }

    .carouselBlock:last-child{
        display: none;
    }
}

@media (min-height:900px) {

    footer {
        margin-top: 30px;
    }
}

@media screen and (min-height: 1000px) {
    main nav {
      height: 85vh;
    }

    .mainSection {
        height: 85vh;
    }
}


@media screen and (min-height: 1800px) {
    footer {
        padding-top: 40px;
    }

    main .SongList ul li a {
        display: flex;
        align-items: center;
        background: rgb(179, 179, 179, 0.1);
        height: 100px;
        font-size: 25px;
    }

    main .SongList ul li img {
        height: 96px;
        width: 96px;

    }

    .carouselBlock {
        display: block;
        width: 250px;
    }

    .mix-menu{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .mixes {
        display: flex;
        gap: 200px;
    }

    .mix-played {
        margin-top: 200px;
        height: 300px;
        width: 300px;
    }

    .playlist-mix img {
        gap: 20px;
        height: 300px;
        width: 300px;
    }
}